.card {
  margin: 20px;
}
.back {
  background: url(http://3.bp.blogspot.com/-5V5hOrWVDJM/T1jV6Pms4vI/AAAAAAAAUxc/_y0XjJyPNME/s1600/Full-HD-Desktop-Hd-nature-wallpaper-for-Desktop-Background.jpg)
    no-repeat !important;
  background-size: cover !important;
  background-color: white !important;
  opacity: 0.8 !important;
  margin-bottom: 70px;
}
.btn-call {
  position: fixed !important;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  border-radius: 50% !important;
  height: 60px;
  width: 60px;
  font-size: 24px;
}

.card-title {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
  height: 190px;
}
.form-outline {
  margin: 20px;
}
